p{
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
}
.destaque {
    background-color: yellow;
}

   li:nth-child(2) {
    color: red;
}
input[type="password"] {
    border: 2px solid blue;
}
button:hover {
    background-color: lightgreen;
}

.container > div:first-child > p {
    color: rgb(255, 0, 183);
}

p::first-letter {

    font-size: 200%;
    font-weight: bold;
}

li:first-child {

    font-weight: bold;
}